body {
    font-family: 'Open Sans', sans-serif;
    background: #FDFDFD;
}

table {
    border-collapse: collapse;
    width: 95%;
}

th {
    font-size: large;
    vertical-align: bottom;
}

table, th, td {
    border: 1px solid black;
}

td.orgname {
    font-weight: bold;
    padding: 3px;
}

td.lowgrade {
    font-size: larger;
    text-align: center;
}

td.grade {
    text-align: center;
}

p {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 1em;
}

span.sparkline {
    background-color: #EEE;
}

.bad {
    background: red;
}

.good {
    background: lightgreen;
}

.center {
    margin: 0 auto;
}

footer {
    margin-top: 2em;
    width: 95%;
}

.hide {
    display: none;
}

.spinner {
  width: 30px;
  height: 30px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
